.tpgb-cssfilters {
    transition: all .3s linear
}

.tpgb-view-animation {
    visibility: hidden
}

.tpgb-view-animation-out {
    visibility: visible
}

@keyframes tpgb-pulse {
    0%,to {
        transform: scale(.95);
        opacity: 1
    }

    50% {
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes tpgb-pulse {
    0%,to {
        -webkit-transform: scale(.95);
        opacity: .7
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@keyframes tpgb-floating {
    0%,to {
        transform: translateY(0)
    }

    50% {
        transform: translateY(4%)
    }
}

@-webkit-keyframes tpgb-floating {
    0%,to {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(4%)
    }
}

@keyframes tpgb-tossing {
    0%,to {
        transform: rotate(-15deg)
    }

    50% {
        transform: rotate(15deg)
    }
}

@-webkit-keyframes tpgb-tossing {
    0%,to {
        -webkit-transform: rotate(-15deg)
    }

    50% {
        -webkit-transform: rotate(15deg)
    }
}

@keyframes tpgb-continue-rotating {
    0% {
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg)
    }
}

@-webkit-keyframes tpgb-continue-rotating {
    0% {
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
        -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg)
    }
}

@-webkit-keyframes tpgb-rotating {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes tpgb-rotating {
    0% {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes tpgb-rotating {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}



.tpgb-floating,.tpgb-pulse,.tpgb-tossing,.tpgb-hover-pulse:hover,.tpgb-hover-floating:hover,.tpgb-hover-tossing:hover {
    animation-name: tpgb-pulse;
    -webkit-animation-name: tpgb-pulse;
    animation-duration: 2.2s;
    -webkit-animation-duration: 2.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

.tpgb-floating,.tpgb-tossing,.tpgb-hover-floating:hover,.tpgb-hover-tossing:hover {
    animation-name: tpgb-floating;
    -webkit-animation-name: tpgb-floating
}

.tpgb-tossing,.tpgb-hover-tossing:hover {
    animation-name: tpgb-tossing;
    -webkit-animation-name: tpgb-tossing
}

.tpgb-rotating,.tpgb-hover-rotating:hover {
    -webkit-animation-name: tpgb-rotating;
    animation-name: tpgb-rotating
}

.tpgb-rotating-continue {
    animation-name: tpgb-continue-rotating;
    -webkit-animation-name: tpgb-continue-rotating
}

.tpgb-rotating,.tpgb-rotating-continue,.tpgb-hover-rotating:hover {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}
.tpgb-drop_waves::after,.tpgb-hover-drop_waves::after{
    content: '';
    background: #ff214f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.tpgb-drop_waves::after,.tpgb-hover-drop_waves:hover::after{
	-webkit-animation-name: continue-drop-waves;
    animation-name: continue-drop-waves;
}
@-webkit-keyframes continue-drop-waves {
    0% {
        opacity: 0.8
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}

@keyframes continue-drop-waves {
    0% {
        opacity: 0.8
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.4);
        transform: scale(1.4)
    }
}
#wp-admin-bar-tpgb_edit_template .ab-item.tpgb-admin-sub-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
}
#wp-admin-bar-tpgb_edit_template .tpgb-admin-item-title {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-transform: capitalize;
}
#wp-admin-bar-tpgb_edit_template .tpgb-admin-item-type {
    background: #6b6b6b;
    font-size: 11px;
    line-height: 11px;
    margin-top: 6px;
    padding: 4px 5px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: capitalize;
}
#wp-admin-bar-tpgb_edit_template .tpgb-edit-nexter {
    background: #3a3c3e;
    padding-top: 0;
}